
struct {{.Name}} {
    {{.Type}}* a;
    size_t len;
    size_t cap;
};

// Protos
{{.Name}} {{.Name}}_new(size_t capacity);
{{.Name}} {{.Name}}_init(const {{.Type}}* values, size_t count);
void {{.Name}}_free({{.Name}}* s);
{{.Type}} {{.Name}}_get({{.Name}}* s, size_t index);
void {{.Name}}_set({{.Name}}* s, size_t index, {{.Type}} value);
bool __ko_{{.Name}}_equality({{.Name}} a, {{.Name}} b);

void {{.Name}}_append({{.Name}}* s, {{.Type}} value);
size_t {{.Name}}_len({{.Name}} s);

{{.Name}} {{.Name}}_new(size_t capacity) {
    {{.Name}} s;
    s.a = ({{.Type}}*)malloc(capacity * sizeof({{.Type}}));
    s.len = 0;
    s.cap = capacity;
    return s;
}
{{.Name}} {{.Name}}_init(const {{.Type}}* values, size_t count) {
  {{.Name}} s = {{.Name}}_new(count);
  memcpy(s.a, values, sizeof({{.Type}}) * count);
  s.len = count;
  return s;
}

bool __ko_{{.Name}}_equality({{.Name}} a, {{.Name}} b) {
     return (a.a == b.a) && (a.len == b.len) && (a.cap == b.cap);
}

void {{.Name}}_free({{.Name}}* s) {
    if (s->a != NULL) {
        free(s->a);
        s->a = NULL;
    }
    s->len = 0;
    s->cap = 0;
}

void {{.Name}}_append({{.Name}}* s, {{.Type}} value) {
    if (s->len >= s->cap) {
        size_t new_cap = s->cap == 0 ? 4 : s->cap * 2;
        {{.Type}}* new_data = ({{.Type}}*)realloc(s->a, new_cap * sizeof({{.Type}}));
        if (!new_data) {
            fprintf(stderr, "Out of memory in append()\n");
            exit(1);
        }
        s->a = new_data;
        s->cap = new_cap;
    }

    printf("append: cap: %ld len: %ld val: %d\n", s->cap, s->len, value);

    s->a[s->len++] = value;
}

size_t {{.Name}}_len({{.Name}} s) {
     return s.len;
}

{{.Type}} {{.Name}}_get({{.Name}}* s, size_t index) {
    if (index >= s->len) {
        fprintf(stderr, "Index out of bounds in get()\n");
        exit(1);
    }
    return s->a[index];
}

void {{.Name}}_set({{.Name}}* s, size_t index, {{.Type}} value) {
    if (index >= s->len) {
        fprintf(stderr, "Index out of bounds in set()\n");
        exit(1);
    }
    s->a[index] = value;
}
